 html, body {

 	margin: 0px !important;    
    width: 100%;
    overscroll-behavior-y: contain;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;


}

.grid { 
    padding-top: 4.5rem;

}

.column {
    max-width: 95%;
}